.hero {
    $root: &;
    position: relative;
    height: auto;
    min-height: 100vh;
    overflow: hidden;

    &__image {
        margin-bottom: rem(24);
        width: rem(140);
        height: auto;

        @include media-breakpoint-up(md) {
            margin-bottom: rem(65);
            width: rem(208);
        }
    }

    &__container {
        display: flex;
        height: 100%;
        padding-top: rem(100);
        position: relative;
        z-index: 1;


        @include media-breakpoint-up(md) {
            padding-top: rem(137);
        }
    }

    &__background {
        position: absolute;
        height: 100%;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;

        @include media-breakpoint-up(md) {
            height: 114%;
            width: 120%;
            left: -10%;
        }

        @media screen and (orientation:landscape) and (max-width: 1023px) { 
            filter: opacity(0.3);
        }
    }

    &__wrap {
        max-width: rem(800);
    }

    &__title {
        max-width: rem(555);
        line-height: 1.1;
        font-size: rem(35);
        font-weight: 600;

        @include media-breakpoint-down(lg) {
            font-size: rem(35);
        }

        @include media-breakpoint-down(md) {
            font-size: rem(40);
        }

        @include media-breakpoint-down(sm) {
            font-size: rem(24);
        }

        @media screen and (orientation:landscape) and (min-width: 768px) and (max-width: 1024px)  {
            font-size: rem(50);
            max-width: rem(700);
        }
    }
}