.icon {
	display: inline-block;
	width: rem(20);
	height: rem(20);
	vertical-align: middle;
	pointer-events: none;

	&--12 {
		width: rem(12);
		height: rem(12);
	}

	&--16 {
		width: rem(16);
		height: rem(16);
	}

	&--fit {
		width: 100%;
		height: 100%;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;

		#shape-1 {
			transform: scale(0.0064, 0.0075);
		}

		#shape-2 {
			transform: scale(0.006, 0.0069);
		}

		#shape-3 {
			transform: scale(0.0058, 0.007);
		}

		#shape-4 {
			transform: scale(0.00352, 0.00402);
		}

		#shape-4_1 {
			transform: scale(0.0048, 0.004902);
		}

		#shape-5 {
			transform: scale(0.00364, 0.00325);
		}

		#shape-5_1 {
			transform: scale(0.0048, 0.00402);
		}

		#shape-6 {
			transform: scale(0.004, 0.0045);
		}
	}
}
