$color-black: #000;
$color-background: #fff;
$color-blue: #3865A7;
$color-white: #fff;
$color-dark: #2F2F2F;
$color-red: #FE5F5F;
$color-gray: #F1F2F2;


$colors: (
	"white": $color-white,
	"black": $color-black,
	"dark": $color-dark,
	"gray": $color-gray,
	"red": $color-red
);


