{% extends "layouts::_page.twig" %}

{% block content %}

	<!--<editor-fold desc="Typography">-->

	<div class="py-128 bg-white">
		<div class="container">
			<h1 class="mb-24">Heading H1</h1>
			<h2 class="mb-24">Heading H2</h2>
			<h3 class="mb-24">Heading H3</h3>
			<h4 class="mb-24">Heading H4</h4>
			<p class="text-body mb-24">Body</p>
		</div>
	</div>

	<!--</editor-fold>-->

{% endblock %}
