.link {
    $root: &;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: $color-white;
    @include defaultTransition(color);

    &__text {
        font-weight: bold;
    }

    @include hover {
        color: $color-red;
    }

    &--theme-red {
        color: $color-red;
    }

    .icon {
        margin-right: 10px;
    }
}