.footer {
    $self: &;
    background-color: $color-dark;

    &__container {
        padding-bottom: rem(29);
        padding-top: rem(29);
        overflow: hidden;
    }

    &__items {
        display: flex;

        @include media-breakpoint-down(sm) {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-gap: rem(8);
        }
    }

    &__item {
        &:not(:last-child){
            margin-right: rem(51);

            @include media-breakpoint-down(md) {
                margin-right: rem(16);
            }
        }
    }

    &__contacts {
        display: flex;

        @include media-breakpoint-down(sm) {
            justify-content: space-between;
        }

        #{$self}__item {
            &:not(:last-child){
                margin-right: rem(43);
    
                @include media-breakpoint-down(md) {
                    margin-right: rem(16);
                }
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }

    &__navigation {
        @include media-breakpoint-down(md) {
            margin-bottom: rem(16);
        }
    }
}