<div class="block-posts{% if block.layout %} block-posts--layout-{{block.layout}} {% endif %}" data-animate-sequence>
    <div class="block-posts__container container" data-animate-sequence>   
         {% if block.title %}
                <h2 class="block-posts__title title-decoration" data-animate-sequence-el data-animate-sequence-delay="0.5">{{block.title}}</h2>
           {% endif %}
           {% if block.items %}
                <div class="block-posts__items">
                    {% for item in block.items %}
                        <div class="block-posts__item" data-animate-sequence-el data-animate-sequence-delay="{{ loop.index }}">
                            {% view '^card-post' with {
                                card: item
                            } %}
                        </div>
                    {% endfor %}
                </div>
           {% endif %}
    </div>
</div>